<div class="row">
  <div class="col-xs-12">
    <h2 class="page-title">Upcoming Concerts</h2>

    <div
      ng-repeat="concert in home.concerts | upcoming: false | orderBy: 'numericDate'"
      class="concert-item"
      ng-class="{ 'concert-today': home.isConcertToday(concert) }">
      <ul class="concert-details">
        <li class="concert-name">
          <strong>{{ concert.tourName }}</strong>
        </li>
        <li>{{ concert.date }}</li>
        <li>{{ concert.venue.name }}</li>
        <li>{{ concert.bands.join(', ') }}</li>
      </ul>

      <div class="concert-icons">
        <a class="concert-icon" ng-hide="concert.isSaved" ng-click="home.saveConcert(concert)"><i class="fa fa-heart-o"></i></a>
        <a class="concert-icon" ng-show="concert.isSaved" ng-click="home.removeConcert(concert)"><i class="fa fa-heart"></i></a>
      </div>
    </div>
  </div>
</div>
