<div class="row">
  <div class="col-xs-12">
    <h2>Home Page</h2>
    <hr>

    <h4>Upcoming Concerts</h4>

    <div ng-repeat="concert in home.concerts | upcoming: true | orderBy: 'numericDate'"
      ng-class="{ 'concert-today': home.isConcertToday(concert) }">
      <ul>
        <li>
          <strong>{{ concert.tourName }}</strong>
          <a ng-hide="concert.isSaved" ng-click="home.saveConcert(concert)">[save]</a>
          <a ng-show="concert.isSaved" ng-click="home.removeConcert(concert)">[x]</a>
        </li>
        <li>{{ concert.date }}</li>
        <li>{{ concert.venue.name }}</li>
        <li>{{ concert.bands.join(', ') }}</li>
      </ul>
    </div>
  </div>
</div>
