<!DOCTYPE html>
<html ng-app="rms">
<head>
  <meta charset="utf-8">

  <title>RocMetalScene.com</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Metal+Mania|Open+Sans:400,600">
</head>
<body>

  <% include partials/navbar %>

  <div class="container">
    <ng-view></ng-view>
  </div>

  <footer class="container site-footer">
    <p>This site is a labor of love by a local metalhead who needs a job. <a href="http://truthyfalsey.com/resume">Hire me?</a></p>
  </footer>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/underscore/underscore.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/authService.js"></script>
  <script src="js/services/userService.js"></script>
  <script src="js/services/concertService.js"></script>
  <script src="js/services/venueService.js"></script>
  <script src="js/filters/upcoming.js"></script>
  <script src="js/controllers/NavbarCtrl.js"></script>
  <script src="js/controllers/HomeCtrl.js"></script>
  <script src="js/controllers/AdminVenuesCtrl.js"></script>
  <script src="js/controllers/AdminConcertsCtrl.js"></script>
  <script src="js/controllers/EditConcertCtrl.js"></script>
  <script src="js/controllers/EditVenueCtrl.js"></script>
  <script src="js/controllers/DashboardCtrl.js"></script>
  <script src="js/controllers/LoginCtrl.js"></script>
  <script src="js/controllers/RegisterCtrl.js"></script>
</body>
</html>
