<!DOCTYPE html>
<html ng-app="rms">
<head>
  <meta charset="utf-8">

  <title>RocMetalScene.com</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <% include partials/navbar %>

  <div class="container">
    <ng-view></ng-view>
  </div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/authService.js"></script>
  <script src="js/services/concertService.js"></script>
  <script src="js/services/venueService.js"></script>
  <script src="js/filters/upcoming.js"></script>
  <script src="js/controllers/NavbarCtrl.js"></script>
  <script src="js/controllers/HomeCtrl.js"></script>
  <script src="js/controllers/AdminVenuesCtrl.js"></script>
  <script src="js/controllers/AdminConcertsCtrl.js"></script>
  <script src="js/controllers/EditConcertCtrl.js"></script>
  <script src="js/controllers/EditVenueCtrl.js"></script>
  <script src="js/controllers/LoginCtrl.js"></script>
  <script src="js/controllers/RegisterCtrl.js"></script>
</body>
</html>
